// Inspiration: https://codepen.io/joelbyrd/pen/hdHKF

.game-container { position: relative; }

.window-wrapper-outer {
	border: 1px solid;
	border-color: #f1efe2 #716f64 #716f64 #f1efe2;
}

.window-wrapper-inner {
	border: 1px solid;
	border-color: #fff #aca899 #aca899 #fff;
}

.window-container {
	position: relative;
	background-color: #ece9d8;
	padding: 1px;
}

.title-bar {
	height: 25px;
	background: #3d95ff url(assets/minesweeper.png) no-repeat;
	font-size: 0;
	line-height: 0;    
}

.form-textbox {
	width: 35px;
	height: 14px;
	border: 2px solid;
	border-color: #aca899 #fff #fff #aca899;
}

.form-button {
	display: block;
	width: 60px;
	height: 25px;
	background: #ece9d8;
}

/* CUSTOM LEVEL DIALOG */
.custom-level-dialog {
	display: none;
	position: absolute;
	top: 30px;
	left: 15px;
	z-index: 3;
	width: 200px;

	&.open { display: block; }

	.title-bar { background-position: 0 -110px; }

	.content {
		overflow: hidden;
		font: 12px arial;
		padding: 35px 15px;
	}

	.fields {
		float: left;

		p {
			clear: left;
			margin: 0;
			padding: 0;
			margin-bottom: 4px;
		}

		label {
			float: left;
			width: 47px;
			padding-top: 3px;
		}

	}



	.buttons {
		float: right;
		.ok-btn { margin-bottom: 18px; }
	}

}
/* END CUSTOM LEVEL DIALOG */

/* BOARD WINDOW */
.board-window {
	display: inline-block;

	.title-bar { background-position: 0 -84px; }

	.board-wrapper {
		position: relative;
		background-color: #bdbdbd;
		padding: 7px;
		border-left: 3px solid #fff;
		border-top: 3px solid #fff;
	}
}

	/* MENU */
	.menu-link-container {
		overflow: hidden;
		padding-top: 1px;
	}

	.menu-link {
		float: left;
		padding: 3px 6px;
		color: #000;
		text-decoration: none;
		cursor: default;
		font: 12px arial;

		&:hover, 
		&.active {
			color: #fff;
			background: #316ac5;
		}
	}

	.menu {
		display: none;
		position: absolute;
		top: -4px;
		left: -3px;
		z-index: 2;
		list-style: none;
		width: 122px;
		margin: 0;
		padding: 2px;
		background: #fff;
		border: 1px solid #aca899;
		font: 12px arial;

		&.open { display: block; }

		li {
			display: block;
			margin: 0;
			padding: 4px 5px 4px 16px;
			color: #000;
			text-decoration: none;
			cursor: default;

			&:hover {
				color: #fff;
				background-color: #316ac5;
			}

			&.checked {
				background-image: url(assets/minesweeper.png);
				background-repeat: no-repeat;
				background-position: -136px -41px;
			}

			&.checked:hover {
				background-position: -134px -69px;        
			}    

			&.menu-divider {
				font-size: 0;
				line-height: 0;
				height: 0;
				border-bottom: 1px solid #aca899;
				margin: 5px 1px;
				padding: 0;
			}
		}
	}
	/* END MENU */

	/* HEADER */
	.header-wrapper {
		border-bottom: 7px solid #bdbdbd;
	}

	.header-container {
		padding: 3px 5px;
		border: 2px solid;
		border-color: #7d7d7d #fff #fff #7d7d7d;
	}

	.header {
		position: relative;
		overflow: hidden;

		.mine-count,
		.timer {
			overflow: hidden;
			position: absolute;
			top: 1px;
			z-index: 1;
			border: 1px solid;
			border-color: #808080 #fff #fff #808080;
		}

		.mine-count { left: 0; }
		.timer { right: 0; }
	}

	.numbers .digit {
		float: left;
		width: 13px;
		height: 23px;
		background: url(assets/minesweeper.png) no-repeat;

		.t0 { background-position: 0 0; }
		.t1 { background-position: -13px 0; }
		.t2 { background-position: -26px 0; }
		.t3 { background-position: -39px 0; }
		.t4 { background-position: -52px 0; }
		.t5 { background-position: -65px 0; }
		.t6 { background-position: -78px 0; }
		.t7 { background-position: -91px 0; }
		.t8 { background-position: -104px 0; }
		.t9 { background-position: -117px 0; }
		.tm { background-position: -130px 0; }
	}

	.reset-button {
		background: url(assets/minesweeper.png) no-repeat;
		height: 26px;
		width: 26px;
		margin: 0 auto;

		&.face-smile      { background-position: 0 -55px; }
		&.face-pressed    { background-position: -26px -55px; }
		&.face-surprised  { background-position: -52px -55px; }
		&.face-sad        { background-position: -78px -55px; }
		&.face-sunglasses { background-position: -104px -55px; }
	}
	/* END HEADER */

	/* MIENFIELD */
	.minefield {
		display: flex;
		flex-direction: column;
		border: 3px solid;
		border-color: #7d7d7d #fff #fff #7d7d7d;

		.row { display: flex; }

		.cell {
			width: 16px;
			height: 16px;
			background: url(assets/minesweeper.png) no-repeat;
		}

		.covered         { background-position: 0 -39px; }
		.mines0          { background-position: 0 -23px; }
		.mines1          { background-position: -16px -23px; }
		.mines2          { background-position: -32px -23px; }
		.mines3          { background-position: -48px -23px; }
		.mines4          { background-position: -64px -23px; }
		.mines5          { background-position: -80px -23px; }
		.mines6          { background-position: -96px -23px; }
		.mines7          { background-position: -112px -23px; }
		.mines8          { background-position: -128px -23px; }
		.mine-hit        { background-position: -32px -39px; }
		.mine-misflagged { background-position: -48px -39px; }
		.mine            { background-position: -64px -39px; }
		.flag            { background-position: -16px -39px; }
		.question        { background-position: -80px -39px; }
	}
	/* END MIENFIELD */
/* END BOARD WINDOW */
